header h1{
    font-family: 'Yellowtail';
}
.recipe {
  word-wrap: break-word;
}

.recipe img {
    position: absolute;
}
.recipe ul {
    font-size: 20px;
    line-height: 31px;
    column-count: 2;
    position: relative;
    padding: 35px 40px 100px;
}

/* ul li {
    display: inline-block;
} */

.recipe li #last {
    margin: 0px 0px 10px;
}

div ul {
    width:750px;
}

#author h2 {
    display: inline-block;
    font-size: 20px;
    padding: 0px 0px;
}
#author p {
    font-size: 12px;
    padding: 10px 0;
}
#author {
    display:inline-block;
    font-size: 10px;
    width: 85%;
}
#face {
    float:left;
}
p #button {
    float: right;
    background-color: orangered;
}